$navbar-background-color: #c4dfdf;
$secondary-light-color: #f8f6f4;
$link-color: #ff8c00;
$link-hover-color: #241468;
$default-dark-color: black;
$default-light-color: white;
$search-background-color: #006666;
$account-background-color-hover: #2e8a99;
$button-background-color: #008080;

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 320px) {
      @content;
    }
  }
  @if $breakpoint==tab {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
}
@mixin padding-sides {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include respond(tab) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @include respond(phone) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@mixin button-style {
  color: $default-light-color;
  background-color: #004d4d;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  cursor: pointer;
  border-radius: 9px;
  border: none;
  font-size: 1.1rem;
}
@mixin slider-button {
  @include button-style();
  background-color: #008080;
  color: $default-light-color;
  transition: background-color 0.3s;
}
@mixin slider-button-hover {
  background-color: $search-background-color;
}
@mixin input-style {
  [type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    color: dodgerblue;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #ffffff;
    transition: background 300ms;
    cursor: pointer;
  }
  [type="checkbox"]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #ccd3d8;
  }
  [type="checkbox"]:checked {
    background-color: currentcolor;
  }
  [type="checkbox"]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  }
}
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
.navLink {
  text-decoration: none;
  color: $default-dark-color;
}
.navLink:hover {
  color: #ed0f0f !important;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  @include padding-sides();
}
.navbar-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    display: none;
    @include respond(tab) {
      display: block;
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  img {
    width: 4rem;
    display: block;
  }
  cursor: pointer;
}
.logo-link {
  text-decoration: none;
  color: $default-dark-color;
}
.navbar .links {
  margin-top: 1rem;
}
.links {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  @include respond(tab) {
    display: none;
  }
}
.menu {
  display: flex;
  justify-content: center;
  margin-top: 0rem !important;
  overflow: hidden;
  transition: all 1s ease-in-out;
  max-height: 0rem;
  @include respond(phone) {
    display: grid;
    grid-template-columns: 8rem 8rem;
    gap: 0rem;
    align-items: baseline;
  }
}
.appear {
  padding: 1rem;
  padding-top: 2.5rem;
  @include respond(phone) {
    padding: 4.5rem;
    padding-top: 1rem;
  }
}
.link {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
.link-line {
  width: 0px;
  border: 0;
  transition: width 0.3s linear 0s;
}
.link:hover {
  color: #ed0f0f !important;
}
.link:hover > .link-line {
  border: 1px #ed0f0f solid;
  width: 100%;
}
.active {
  span {
    color: #ed0f0f !important;
  }
  .link-line {
    border: 1px #ed0f0f solid;
    width: 100%;
  }
}
.section {
  @include padding-sides();
  padding-left: 10.6rem;
  background-color: $search-background-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include respond(tab) {
  }
  @include respond(phone) {
    display: flex;
    flex-direction: column;
  }
}
.section-first-part {
  display: flex;
  @include respond(tab) {
    display: grid;
    grid-template-rows: 2.5rem 2.2rem;
  }
  @include respond(phone) {
  }
}
.dark-mode-eye {
  @include respond(tab) {
    margin-left: 1.5rem;
  }
  @include respond(phone) {
    margin-top: 0.2rem;
  }
  background-color: $default-light-color;
  width: 1.9rem;
  height: 1.9rem;
  display: flex;
  border: $search-background-color solid;
  align-items: center;
  justify-content: center;
  border-radius: 100% 0px;
  transform: rotate(45deg);
  cursor: pointer;
  overflow: hidden;
  img {
    width: 0.9rem;
    transform: rotate(180deg);
  }
}
.close {
  width: 2.8rem;
  height: 1.5rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 999;
  span {
    display: block;
    width: 100%;
    height: 0%;
    background: $default-dark-color;
    border-radius: 0 0 60% 60%;
    transition: 0.4s all;
  }
}
.close-eye {
  height: 100% !important;
}
.dark-mode-circle {
  background-color: $default-light-color;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.light-mode-eye {
  background-color: $default-dark-color;
}
.language {
  @include respond(tab) {
    margin-left: 5rem;
  }
  position: absolute;
  margin-left: 3.5rem;
  margin-top: 0.2rem;
  text-align: center;
  background-color: $secondary-light-color;
  font-size: 0.9rem;
  overflow: hidden;
  font-weight: 500;
  height: 1.9rem;
  border-radius: 5px;
  padding-top: 0.2rem;
  transition: all 0.3s ease-in;
}
.language:hover {
  height: 3.6rem;
}
.language-section {
  display: flex;
  gap: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
}
.language-section:hover {
  background-color: $navbar-background-color;
}
.main-language {
  cursor: unset;
  background-color: $secondary-light-color !important;
}
.search {
  padding-left: 0.5rem;
  border-radius: 5px;
  margin-left: 10rem;
  margin-top: 0.2rem;
  padding-right: 0.3rem;
  @include respond(tab) {
    margin-left: 0rem;
  }
  form {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  button {
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $default-light-color;
  }
  button:hover {
    background-color: $default-light-color;
  }
  img {
    width: 1.5rem;
  }
  input {
    outline: none;
    border: none;
  }
  background-color: $default-light-color;
  .search-result {
    .prices {
      width: 5.55rem;
    }
    border-top: 1px solid;
    position: absolute;
    display: flex;
    font-size: 0.8rem;
    z-index: 999;
    background-color: $default-light-color;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: -0.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    img {
      width: 4.55rem;
    }
  }
  .search-item {
    display: flex;
    padding: 1rem;
    cursor: pointer;
    gap: 1rem;
  }
  .search-item:hover {
    background-color: #f5f5f5;
  }
  .item-properties {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .search-loading {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 13.1rem;
  }
}
.metronome {
  --uib-size: 40px;
  --uib-speed: 1.6s;
  --uib-color: black;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}
.metronome__dot {
  position: absolute;
  top: 13.5%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  animation: swing var(--uib-speed) linear infinite;
}
.metronome__dot::before {
  content: "";
  height: 25%;
  width: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.metronome__dot:nth-child(1) {
  animation-delay: calc(var(--uib-speed) * -0.36);
}

.metronome__dot:nth-child(2) {
  animation-delay: calc(var(--uib-speed) * -0.27);
  opacity: 0.8;
}

.metronome__dot:nth-child(2)::before {
  transform: scale(0.9);
}

.metronome__dot:nth-child(3) {
  animation-delay: calc(var(--uib-speed) * -0.18);
  opacity: 0.6;
}

.metronome__dot:nth-child(3)::before {
  transform: scale(0.8);
}

.metronome__dot:nth-child(4) {
  animation-delay: calc(var(--uib-speed) * -0.09);
  opacity: 0.4;
}

.metronome__dot:nth-child(4)::before {
  transform: scale(0.7);
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  65% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
.links-account {
  display: flex;
  gap: 1rem;
  @include respond(phone) {
    width: 100%;
    justify-content: center;
    padding-top: 1rem;
  }
  .links {
    margin-top: 1rem;
  }
}
.link-section {
  img {
    width: 35px !important;
    height: 35px !important;
  }
  cursor: pointer;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  span {
    font-size: 1rem;
  }
}
.link-section:hover > span {
  color: #ed0f0f !important;
}
.profile:hover > .link-section span {
  color: #ed0f0f !important;
}
.login {
  position: absolute;
  z-index: 999;
  background-color: #85c1e9;
  border-radius: 5px;
  display: flex;
  margin-left: -6.5rem;
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
  padding: 2rem;
  transition: all 0.4s ease-in-out;
  align-items: center;
  flex-direction: column;
  font-size: 0.9rem;
  @include respond(tab) {
    margin-left: -12rem;
  }
  @include respond(phone) {
  }
  h1 {
    margin-top: 0rem;
  }
  .forgot-password {
    margin-left: 0.3rem;
    cursor: pointer;
  }
  .forgot-password:hover {
    color: #ed0f0f;
  }
  .switch-login {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    .login-link {
      cursor: pointer;
    }
    .login-link:hover {
      color: #ed0f0f;
    }
  }
  .login-message {
    font-size: 1rem;
    width: 12rem;
    text-align: center;
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  button {
    @include button-style();
    padding: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  button:hover {
    @include slider-button-hover();
  }
}
.form-input-error {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.error {
  color: #ed0f0f;
  font-size: 0.6rem;
  margin-left: 0.2rem;
  width: 10rem;
}
.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  input {
    outline: none;
    padding: 0.2rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: none;
  }
  label {
    margin-left: 0.1rem;
  }
}
.password-input {
  display: flex;
  align-items: center;
  background-color: $default-light-color;
  padding: 0.1rem;
  padding-left: 0.1rem;
  border-radius: 5px;
  img {
    margin-right: 0.25rem;
    cursor: pointer;
  }
}
.appear {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}
.new-password {
  background-color: #85c1e9;

  form {
    font-size: 0.8rem;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    button {
      @include button-style();
      padding: 0.5rem;
      font-size: 0.8rem;
      margin-top: 0.2rem;
    }
    button:hover {
      @include slider-button-hover();
    }
  }
}
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}
.react-slideshow-container .default-nav:first-of-type {
  margin-left: 15px !important;
  @include respond(phone) {
    display: none !important;
  }
}
.react-slideshow-container .default-nav:last-of-type {
  margin-right: 15px !important;
  @include respond(phone) {
    display: none !important;
  }
}
.slider {
  @include padding-sides();
  width: 1200px;
  padding-top: 4rem;
  @include respond(tab) {
    width: 600px;
  }
  @include respond(phone) {
    padding-right: 0rem;
    padding-left: 0rem;
    width: 320px;
  }
}
.slide {
  border-radius: 15px;
  height: 290px;
  @include respond(phone) {
    border-radius: 0px;
  }
}
.barbie-slide-effect {
  background-image: url("../public/images/advertizes/barbie-discount.png");
  background-size: 1200px 290px !important;
  background-repeat: no-repeat;
  @include respond(tab) {
    background-image: url("../public/images/advertizes/barbie-discount-tab.png");
    background-size: 600px 290px !important;
  }
  @include respond(phone) {
    background-image: url("../public/images/advertizes/barbie-discount-phone.png");
    background-size: 320px 290px !important;
  }
}
.barbie-slider {
  @include respond(tab) {
    margin-right: 0rem;
  }
  @include respond(phone) {
    padding: 1rem;
  }
  margin-bottom: 5rem;
  margin-right: 35rem;
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  button {
    @include slider-button();
  }
  button:hover {
    @include slider-button-hover();
  }
}
.promo-code-slider {
  background-image: url("../public/images/advertizes/promo-code-discount.png");
  background-size: 1200px 290px !important;
  background-repeat: no-repeat;
  @include respond(tab) {
    margin-right: 0rem;
    background-image: url("../public/images/advertizes/promo-code-discount-tab.png");
    background-size: 600px 290px !important;
  }
  @include respond(phone) {
    background-image: url("../public/images/advertizes/promo-code-discount-phone.png");
    background-size: 320px 290px !important;
  }
  button {
    @include respond(tab) {
      margin-right: -14rem;
      margin-top: 10.5rem;
    }
    @include respond(phone) {
      margin-right: -1rem;
    }
    margin-right: 49.5rem;
    margin-top: 3rem;
    @include slider-button();
  }
  button:hover {
    @include slider-button-hover();
  }
}
.service-slider {
  background-color: #004d4d;
  display: flex;
  gap: 10rem;
  margin-bottom: 7rem;
  @include respond(tab) {
    padding-left: 8rem;
    gap: 0rem;
  }
  @include respond(phone) {
    background-repeat: no-repeat;
    background-image: url("../public/images/advertizes/repair-glasses.png");
    background-size: 320px 290px !important;
    img {
      display: none;
    }
    margin-right: 0rem;
  }
  div {
    margin-bottom: 7rem;
    @include respond(tab) {
      margin-bottom: 6rem;
    }
  }
  p {
    font-size: 2.5rem;
    color: #ff6b6b;
    @include respond(tab) {
      font-size: 2rem;
      width: 15rem;
    }
    @include respond(phone) {
      font-size: 2.5rem;
    }
  }
  span {
    font-size: 1rem;
    color: $default-light-color;
    text-decoration: underline;
  }
  span:hover {
    color: #ed0f0f;
  }
  img {
    height: 350px;
  }
}
.discount-slide-effect {
  background-image: url("../public/images/advertizes/top60-discount.png");
  background-size: 1200px 290px !important;
  background-repeat: no-repeat;
  @include respond(tab) {
    background-image: url("../public/images/advertizes/top60-discount-tab.png");
    background-size: 600px 290px !important;
  }
  @include respond(phone) {
    background-image: url("../public/images/advertizes/top60-discount-phone.png");
    background-size: 320px 290px !important;
  }
}
.discount-slider {
  gap: 0.5rem;
  margin-bottom: 4rem;
  margin-right: 40rem;
  text-align: center;
  @include respond(tab) {
    margin-right: 15rem;
  }
  @include respond(phone) {
    margin-right: 3rem;
  }
  .slider-header {
    font-size: 1.8rem;
    @include respond(phone) {
      font-size: 1.5rem;
    }
  }
  .slider-main {
    font-size: 2.8rem;
    @include respond(phone) {
      font-size: 2.5rem;
    }
  }
  .slider-description {
    font-size: 1.3rem;
    @include respond(phone) {
      font-size: 1rem;
    }
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    color: #8f8173;
  }
  button {
    @include slider-button();
  }
  button:hover {
    @include slider-button-hover();
  }
}
.four-product {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 2rem;
  @include respond(tab) {
    display: grid;
    grid-template-columns: 20rem 20rem;
  }
  @include respond(phone) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.bestSeller,
.recommend {
  h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
  }
}
.product {
  .product-hot {
    background-color: #ffd700;
    padding: 0.6rem;
    border-radius: 0px 0px 0px 5px;
    margin-left: 14.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    font-size: 0.8rem;
    color: $default-light-color;
  }
  .link-sections {
    cursor: pointer;
    position: absolute;
    display: flex;
    gap: 13.1rem;
    opacity: 0;
    margin-top: 8.5rem;
    transform: translateY(12px);
    margin-left: 0.7rem;
    transition: all 0.4s ease;
    @include respond(tab) {
      display: none;
    }
  }
  .show-section .link-sections {
    opacity: 1;
    transform: translateY(0px);
  }
  .link-section {
    padding: 0rem;
    img {
      background-color: $default-light-color;
      padding: 0.3rem;
      border-radius: 50%;
    }
  }
  .link-section:hover > img {
    background-color: #ed0f0f;
  }
  display: flex;
  flex-direction: column;
  width: 20rem;
  .product-image {
    width: 20rem;
    height: 12rem;
    cursor: pointer;
    background-color: $default-light-color;
  }
  .rate {
    @include respond(phone) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  .product-info {
    @include respond(phone) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  .product-type {
    font-size: 0.8rem;
    color: $default-light-color;
    position: absolute;
    padding: 0.7rem;
    background-color: #ed0f0f;
    border-radius: 0px 0px 9px 0px;
  }
  .product-name-price-brand {
    background-color: white;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 1rem;
  }
  .product-name-price {
    display: flex;
    gap: 0.5rem;
  }
  .product-price {
    color: #ed0f0f;
  }
  .product-name:hover {
    color: #ed0f0f;
  }
  .product-brand {
    font-weight: 400;
  }
  .price-brand {
    display: flex;
    justify-content: space-between;
  }
  .rate {
    padding-top: 0.3rem;
    img {
      width: 1.5rem;
    }
  }
}
.details-page {
  .recommend {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
.details-review {
  @include padding-sides();
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  .details {
    display: flex;
    align-items: center;
    position: relative;
    @include respond(tab) {
      padding-bottom: 0rem;
      flex-direction: column;
    }
  }
  .product-type-hot {
    img {
      @include respond(phone) {
        width: 320px;
      }
    }
  }
  .product-type {
    position: absolute;
    background-color: #ed0f0f;
    padding: 1rem;
    top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 2rem;
    border-radius: 5px;
    color: $default-light-color;
    font-size: 0.8rem;
    @include respond(tab) {
      margin-left: 0rem;
      left: 0rem;
      top: 0rem;
    }
    @include respond(phone) {
      padding: 0.5rem;
      margin-left: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .product-hot {
    background-color: #ffd700;
    padding: 1rem;
    top: 3rem;
    left: 28rem;
    border-radius: 5px;
    padding-left: 3rem;
    padding-right: 3rem;
    position: absolute;
    font-size: 0.8rem;
    color: $default-light-color;
    @include respond(tab) {
      top: 0rem;
      left: 30rem;
    }
    @include respond(phone) {
      left: 15rem;
      padding: 0.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  .product-details {
    position: relative;
    background-color: $default-light-color;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #a0a0a0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    @include respond(phone) {
      padding: 0rem;
      border-radius: 0px;
      box-shadow: 0 -5px 5px -5px #a0a0a0;
    }
  }
  .product-brand-gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-name {
    font-size: 2rem;
  }
  .product-brand {
    font-size: 1rem;
    color: #a0a0a0;
  }
  .product-gender {
    font-size: 1rem;
  }
  .product-line {
    color: #a0a0a0;
  }
  .product-color-hot {
    align-items: center;
  }
  .send-review {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 1rem;
    background-color: $default-light-color;
    border: 1px solid #a0a0a0;
    font-size: 0.9rem;
    transition: all 0.3s linear;
    top: 1rem;
    width: min-content;
    right: 10.5rem;
    @include respond(phone) {
      left: 0rem;
      top: 1rem;
    }
  }
  .send-review::before {
    content: "";
    border-right: 1px solid #a0a0a0;
    border-top: 1px solid #a0a0a0;
    position: absolute;
    width: 1.9rem;
    top: 6.4rem;
    right: -1rem;
    transform: rotate(45deg);
    height: 2rem;
    background-color: $default-light-color;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    img {
      width: 1.5rem;
      cursor: pointer;
    }
  }
  .send-rate {
    display: flex;
    align-items: center;
    span {
      padding-right: 1rem;
    }
    img {
      width: 1.5rem;
      cursor: pointer;
    }
  }
  .label-input {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    input,
    textarea {
      width: min-content;
      padding: 0.3rem;
      padding-left: 0.5rem;
      border-radius: 5px;
      outline: none;
      border: 1px solid #ced4da;
      resize: none;
    }
  }
  .rate-review {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    @include respond(phone) {
      flex-direction: column;
    }
  }
  .review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  .review-link {
    font-size: 0.7rem;
    cursor: pointer;
    text-decoration: underline;
  }
  .color-rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.7rem;
    padding-top: 0.7rem;
    border-top: 1px solid #e2e2e2;
    img {
      width: 1.5rem;
    }
  }
  .product-color {
    font-size: 1rem;
    display: flex;
    gap: 0.3rem;
    .color {
      color: #a0a0a0;
    }
  }
  .product-text {
    font-size: 1rem;
    color: #a0a0a0;
  }
  .price {
    background-color: #f5f5f5;
    border-radius: 9px;
    font-size: 1rem;
    padding: 1.2rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond(phone) {
      flex-direction: column;
      padding: 0.5rem;
      gap: 1rem;
      align-items: baseline;
    }
  }
  .properties {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-left: 0.6rem;
    color: #a0a0a0;
  }
  .product-price {
    font-size: 2rem;
  }
  .product-cart-wishlist {
    margin-top: 1rem;
    justify-content: center;
    display: flex;
    gap: 1rem;
    align-items: center;
    button {
      @include button-style();
      padding-right: 6rem;
      padding-left: 6rem;
      @include respond(phone) {
        padding-right: 3rem;
        padding-left: 3rem;
      }
    }
    button:hover {
      @include slider-button-hover();
    }
    img {
      width: 40px;
      cursor: pointer;
    }
  }
  .reviews {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    .all-reviews {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  .review-single {
    padding: 1rem;
    border: 1px solid #ced4da;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    @include respond(phone) {
    }
    .description {
      font-weight: 500;
    }
    img {
      width: 1.5rem;
    }
    .name-rate {
      display: flex;
      justify-content: space-between;
      gap: 15rem;
      align-items: center;
      @include respond(phone) {
        flex-direction: column-reverse;
        justify-content: baseline;
        align-items: baseline;
        gap: 0.5rem;
      }
    }
  }
  .appear {
    visibility: visible;
    opacity: 1;
  }
}
.prices {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  @include respond(phone) {
    align-self: flex-end;
  }
}
.circle-color {
  margin-top: 0.15rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.img-number {
  padding-right: 0.3rem;
  position: relative;
  cursor: pointer;
}
.number {
  color: $default-light-color;
  position: absolute;
  top: 0rem;
  right: 0rem;
  border-radius: 50%;
  span {
    font-size: 0.6rem;
    font-weight: 600;
  }
  width: 1rem;
  background-color: #000080;
  display: flex;
  align-items: center;
  height: 1rem;
  justify-content: center;
}
.cart {
  p {
    font-size: 1.5rem;
    text-align: center;
  }
  padding-left: 15rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  padding-right: 15rem;
  @include respond(tab) {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .cart-products {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    @include respond(tab) {
      display: grid;
      grid-template-columns: 20rem 20rem;
      align-items: center;
      justify-content: center;
    }
    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
  }
  .link-sections {
    margin-left: 0.4rem;
  }
  .empty-text {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3em;
    align-items: center;
    margin: 0 !important;
    font-size: 2rem;
    flex-direction: column;
    span:hover {
      color: #ed0f0f;
    }
  }
  .product-info {
    display: flex;
    justify-content: space-between;
  }
  .product-quantity-update {
    padding-top: 1.2rem;
    display: flex;
    gap: 0.3rem;
    button {
      @include button-style();
      padding: 0.5rem;
      width: 3rem;
    }
    button:hover {
      @include slider-button-hover();
    }
  }
  .cart-buy-discount {
    @include respond(tab) {
      @include padding-sides();
    }
  }
  .cart-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    @include respond(phone) {
      display: grid;
      gap: 1rem;
      justify-content: center;
    }
    button {
      @include button-style();
    }
    button:hover {
      @include slider-button-hover();
    }
  }
  .cart-info {
    display: flex;
    gap: 4rem;
    font-size: 1rem;
    align-items: center;
  }
  .cart-total {
    font-size: 1.5rem;
  }
  .discount-code {
    border-top: 1px solid #b7b5b5;
    display: flex;
    gap: 4rem;
    align-items: center;
    @include respond(phone) {
      flex-direction: column;
      gap: 1rem;
    }
  }
  .promo-code {
    font-size: 0.8rem;
    padding-top: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  .enter-code {
    display: flex;
    align-items: center;
  }
  @include input-style();
  label:hover {
    color: #ed0f0f;
    cursor: pointer;
  }
  .enter-promo-code {
    display: flex;
    gap: 0.7rem;
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
    button {
      @include button-style();
      padding: 0.4rem;
      font-size: 0.8rem;
    }
    button:hover {
      @include slider-button-hover();
    }
  }
  form + div {
    @include respond(phone) {
      position: absolute;
      margin-top: -2.8rem;
    }
  }
  .code-error {
    font-size: 0.7rem;
    color: #ed0f0f;
    margin-left: 0.3rem;
  }
}
.thank {
  width: 100%;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  @include respond(phone) {
    text-align: center;
  }
  button {
    @include button-style();
    font-size: 1.5rem;
  }
  button:hover {
    @include slider-button-hover();
  }
}
.brands {
  img {
    cursor: pointer;
    width: 9rem;
    height: 5rem;
  }
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
  @include respond(tab) {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  @include respond(phone) {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.react-multi-carousel-track {
  @include respond(tab) {
    overflow: hidden;
  }
  @include respond(phone) {
  }
}
.blog {
  @include padding-sides();
  padding-bottom: 3rem;
  h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 0rem;
  }
  @include respond(phone) {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.blogs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  @include respond(tab) {
    align-items: center;
    flex-direction: column;
  }
  .blogs-part {
    display: flex;
    flex-direction: column;
    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      cursor: pointer;
      width: 24rem;
      height: 30rem;
      @include respond(phone) {
        width: 20rem;
        height: 25rem;
      }
    }
  }
  .blog-details {
    background-color: #f5f5f5;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2rem;
    width: 20rem;
    padding-top: 0.5rem;
    height: 13rem;
    @include respond(phone) {
      width: 16rem;
      height: auto;
    }
    .blog-date {
      font-size: 0.8rem;
      color: #a0a0a0;
    }
    .blog-question {
      font-size: 1.7rem;
      cursor: pointer;
      text-align: center;
    }
    .blog-question:hover {
      color: #ed0f0f;
    }
    .blog-answer {
      font-size: 1.2rem;
      color: #a0a0a0;
      text-align: center;
    }
  }
}
.footer {
  display: flex;
  @include padding-sides();
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: #f5f5f5;
  justify-content: space-between;
  @include respond(phone) {
    flex-direction: column;
    gap: 2rem;
  }
  .logo {
    @include respond(phone) {
      justify-content: center;
    }
  }
  .apps-icons {
    border-top: 2px #ed0f0f solid;
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    img {
      width: 1.7rem;
      cursor: pointer;
    }
  }
  .copyright {
    font-size: 0.6rem;
    text-align: center;
    display: block;
    width: 11rem;
    margin-top: 1rem;
    @include respond(phone) {
      width: auto;
    }
  }
  .links-part {
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .links-name {
      font-size: 1.2rem;
    }
    @include respond(phone) {
      gap: 0.5rem;
    }
  }
  .links-column {
    border-top: 2px #ed0f0f solid;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    @include respond(phone) {
      padding-top: 0.5rem;
    }
  }
}
.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dadada;
}
.sunglasses,
.eyeglasses,
.gameglasses {
  @include padding-sides();
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  gap: 2rem;
  @include respond(tab) {
    display: grid;
    grid-template-columns: 20rem 20rem;
    align-items: center;
    justify-content: center;
  }
  @include respond(phone) {
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    flex-direction: column;
  }
}
.sort {
  @include padding-sides();
  display: grid;
  padding-top: 3rem;
  grid-template-columns: 21rem 15rem 15rem;
  padding-bottom: 2rem;
  column-gap: 12rem;
  row-gap: 1rem;
  background-color: #f5f5f5;
  align-items: center;
  @include respond(tab) {
    grid-template-columns: 15rem 15rem;
    column-gap: 5rem;
    row-gap: 1rem;
  }
  @include respond(phone) {
    display: flex;
    flex-direction: column;
  }
  .two-sorts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .gender-color {
    @include respond(tab) {
      gap: 2rem;
    }
    @include respond(phone) {
      gap: 1rem;
    }
  }
  .brand-layout {
    @include respond(tab) {
      flex-direction: row-reverse;
      grid-column: 1/3;
      justify-content: space-between;
    }
    @include respond(phone) {
      grid-column: auto;
      flex-direction: column;
    }
  }
  .sort-part {
    width: 11rem;
    background-color: #004d4d;
    padding: 0.5rem;
    padding-left: 2rem;
    text-align: center;
    padding-right: 2rem;
    color: $default-light-color;
    border-radius: 9px;
    font-size: 1rem;
    font-weight: 500;
  }
  .part-name {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .part-section {
    position: absolute;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: #004d4d;
  }
  .gender {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    z-index: 1;
    padding: 1rem;
    margin-left: -2rem;
    padding-left: 4.65rem;
    padding-right: 4.65rem;
  }
  .color {
    display: grid;
    grid-template-columns: 6.5rem 6.3rem;
    padding: 0.8rem;
    z-index: 1;
    margin-left: -2rem;
    gap: 0.6rem;
    font-size: 0.9rem;
  }
  .sort-property {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    @include input-style();
    label {
      cursor: pointer;
    }
    label:hover {
      color: #ed0f0f;
    }
  }
  .brand {
    z-index: 1;
    padding: 1rem;
    display: grid;
    grid-template-columns: 6.5rem 6.5rem 6.5rem 6.5rem;
    gap: 1rem;
    border-radius: 9px;
    margin-left: -10rem;
  }
  .price {
    width: 21rem;
    padding: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(tab) {
      width: 11rem;
    }
  }
  .hot {
    label {
      cursor: pointer;
    }
    label:hover {
      color: #ed0f0f;
    }
    @include input-style();
    display: flex;
    align-items: center;
    width: 20%;
    gap: 0.3rem;
    margin-left: 6rem;
    @include respond(tab) {
      margin-left: 4rem;
      width: 25%;
    }
  }
  .layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    margin-left: -2rem;
    padding-left: 2.65rem;
    padding-right: 2.65rem;
    .sort-property {
      justify-content: space-between;
    }
  }
  .button-part {
    grid-column: 1/4;
    display: flex;
    justify-content: end;
    border-top: 1px solid #a0a0a0;
    padding-top: 1rem;
    @include respond(tab) {
      grid-column: 1/3;
    }
    @include respond(phone) {
      grid-column: auto;
    }
    button {
      @include button-style();
      background-color: #999999;
      padding-left: 5.7rem;
      padding-right: 5.7rem;
      transition: all 0.4s;
    }
    button:hover {
      background-color: #777777;
    }
  }
}
.no-match {
  text-align: center;
  font-size: 1.5rem;
}
.wishlist {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 2rem;
  @include respond(tab) {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .empty-text {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
    margin: 0 !important;
    font-size: 2rem;
    flex-direction: column;
    span:hover {
      color: #ed0f0f;
    }
  }
  p {
    font-size: 1.5rem;
    text-align: center;
  }
  .wishlist-products {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    @include respond(tab) {
      display: grid;
      grid-template-columns: 20rem 20rem;
      align-items: center;
      justify-content: center;
    }
    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
  }
}
.signed {
  padding: 1rem;
  margin-left: -3rem;
  gap: 0rem;
  @include respond(tab) {
    margin-left: -5rem;
  }
  @include respond(phone) {
  }
  .header {
    text-align: center;
    border-bottom: 1px #e2e2e2 solid;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .signed-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    span:hover {
      cursor: pointer;
      color: #ed0f0f;
    }
  }
}
.account {
  @include padding-sides();
  padding-top: 2rem;
  padding-bottom: 2rem;
  button {
    font-size: 0.9rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 12rem;
      border: 1px solid #ced4da;
    }
  }
  .password-input {
    border: 1px solid #ced4da;

    input {
      width: 10.6rem;
      border: none;
    }
  }
}
.blog-page {
  gap: 1rem;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  @include padding-sides();
  text-align: center;
  @include respond(phone) {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .blog-detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    span {
      font-size: 1rem;
      text-align: justify;
      text-justify: inter-word;
    }
  }
  .img-answer {
    display: flex;
    gap: 2rem;
    @include respond(tab) {
      align-items: center;
      flex-direction: column;
    }
    span {
      @include respond(tab) {
        padding: 0.5rem;
      }
    }
    img {
      @include respond(phone) {
        width: 20rem;
      }
    }
  }
  img {
    width: 28rem;
  }
  h1 {
    font-size: 2rem;
  }
  .answer-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      @include button-style();
      margin-bottom: 15rem;
      align-self: center;
      @include respond(phone) {
        margin-bottom: 0rem;
      }
    }
  }
}
.admin-blogs {
  .image {
    width: 13rem;
  }
  .date {
    width: 3rem;
  }
  .header {
    width: 18rem;
  }
  .button {
    width: 3rem;
  }
  .answer {
    width: 19rem;
  }
  @include padding-sides();
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .blogs-row {
    display: flex;
    gap: 2rem;
    span {
      font-size: 1rem;
    }
  }
  .blog-row {
    align-items: center;
    display: flex;
    gap: 1rem;
    textarea {
      outline: none;
      border: 1px solid #ced4da;
      border-radius: 5px;
      padding: 0.5rem;
      padding-left: 0.7rem;
    }
    input {
      outline: none;
      border: 1px solid #ced4da;
      border-radius: 5px;
      padding: 0.5rem;
    }
  }
  .edit {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .delete {
      background-color: #ed0f0f;
    }
    button {
      @include button-style();
      padding: 0.5rem;
    }
  }
  .blog-edit {
    display: flex;
    align-items: center;
  }
  .error-input {
    display: flex;
    flex-direction: column;
  }
}
.special-products {
  @include padding-sides();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
  h1 {
    font-size: 1.5rem;
  }
  .products {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    @include respond(tab) {
      display: grid;
      grid-template-columns: 20rem 20rem;
      align-items: center;
      justify-content: center;
    }
    @include respond(phone) {
      padding-left: 0rem;
      padding-right: 0rem;
      display: flex;
      flex-direction: column;
    }
  }
}
.admin-products {
  .labels {
    display: flex;
    gap: 1.5rem;
  }
  .id {
    font-size: 1rem;
  }
  .product-row,
  .product-edit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  @include padding-sides();
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  .none {
    opacity: 0;
  }
  input[type="text"],
  input[type="number"] {
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 0.5rem;
  }
  .error-input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  @include input-style();
  .edit {
    display: flex;
    gap: 0.5rem;
  }
  button {
    @include button-style();
    padding: 0.5rem;
  }
  label {
    cursor: pointer;
  }
  .delete {
    background-color: #ed0f0f;
  }
}
.faq {
  @include padding-sides();
  padding-bottom: 3rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #e9ecfd;
  align-items: center;
  .items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
  }
  .item {
    overflow: hidden;
    display: flex;
    background-color: $default-light-color;
    flex-direction: column;
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 9px;
  }
  .first-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 1.3rem;
      cursor: pointer;
      transition: all 0.5s linear;
    }
  }
  .id-circle {
    background-color: #e9ecfd;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  span {
    width: 40rem;
    @include respond(phone) {
      width: fit-content;
    }
  }
  .id-question {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .item-answer {
    max-height: 0rem;
    overflow: hidden;
    border-left: 2px solid #a0a0a0;
    margin-bottom: 0.5rem;
    margin-left: 2.5rem;
    transition: all 0.5s linear;
  }
  .open {
    img {
      transform: rotate(180deg);
    }
    .item-answer {
      max-height: 15rem;
      margin-top: 2rem;
      padding: 1rem;
    }
  }
}
.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  @include respond(tab) {
    @include padding-sides();
    text-align: center;
  }
  h1 {
    font-size: 4rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  p {
    font-size: 2rem;
  }
  span {
    font-size: 1.5rem;
  }
  .navLink {
    color: #ed0f0f;
    font-size: 1.5rem;
  }
}
.about-us {
  display: flex;
  flex-direction: column;
  @include padding-sides();
  padding-bottom: 3rem;
  .about-header {
    background-image: url("../public/images/backgrounds/about-us-background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 19rem;
    display: flex;
    justify-content: center;
    @include respond(tab) {
      padding-bottom: 0rem;
    }
    @include respond(phone) {
      padding-bottom: 1rem;
    }
    h1 {
      font-size: 5rem;
      margin-top: 2rem;
      color: #000080;
      @include respond(tab) {
        margin-top: 1rem;
        margin-left: 1rem;
      }
      @include respond(phone) {
        font-size: 2.5rem;
        margin-top: 0rem;
      }
    }
  }
  .about-text {
    span {
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
    }
    display: flex;
    flex-direction: column;
  }
  .about-features {
    padding-top: 3rem;
    display: flex;
    gap: 5rem;
    @include respond(tab) {
      flex-direction: column;
    }
    @include respond(phone) {
      gap: 1rem;
    }
    p {
      text-align: center;
      margin-top: 0rem;
      font-size: 1.5rem;
    }
  }
}
.contact {
  display: flex;
  flex-direction: column;
  @include padding-sides();
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  .form-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 30rem;
    }
  }
  .input-error {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    input {
      outline: none;
      border: 1px solid #a0a0a0;
      padding: 0.3rem;
      padding-left: 0.5rem;
    }
  }
  textarea {
    resize: none;
    outline: none;
    border: 1px solid #a0a0a0;
    padding: 0.3rem;
    padding-left: 0.5rem;
  }
  .contact-details {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .detail {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 5px;
    font-size: 1rem;
    height: 5rem;
    text-align: center;
    img {
      width: 2rem;
    }
    span {
      font-weight: 500;
    }
  }
  .apps-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-top: 1rem;
  }
  iframe {
    align-self: center;
    margin: 2rem;
  }
}
.service {
  @include padding-sides();
  .glasses-person {
    display: flex;
    justify-content: space-between;
  }
  .header-part {
    display: flex;
    flex-direction: column;
    p {
      font-size: 1.5rem;
    }
  }
  .person-details {
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
  }
  .error-input {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  .glasses-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .glasses-info {
    display: flex;
    gap: 0.3rem;
  }
  input,
  textarea {
    padding: 0.3rem;
    padding-left: 0.5rem;
    outline: none;
    resize: none;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
  }
  .problem-image {
    display: flex;
    justify-content: space-between;
  }
  .checkbox-label {
    display: flex;
    @include input-style();
    gap: 0.3rem;
    label {
      cursor: pointer;
    }
    align-items: center;
    input {
      padding: 0rem;
    }
  }
  .other-textarea {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    .error,
    textarea {
      margin-left: 0.3rem;
    }
  }
  .image {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input {
      display: none;
    }
    button {
      @include button-style();
      align-self: end;
      font-size: 0.8rem;
      padding: 0.5rem;
      width: max-content;
    }
    .error {
      margin-left: 0.7rem;
    }
    img {
      width: 20rem;
      height: 10rem;
    }
  }
  button {
    align-self: end;
    width: 10rem;
  }
}
//
//
//
//
//
//
.dark {
  background-color: #1c1c1c;
  .page {
    display: flex;
    flex-direction: column;
  }
  .link {
    color: $default-light-color;
  }
  .link:hover > span {
    color: #ed0f0f;
  }
  .navbar {
    span {
      color: $default-light-color;
    }
    background-color: #1c1c1c;
  }
  .section {
    .link-section span {
      color: $default-light-color;
    }
    .link-section:hover > span {
      color: #ed0f0f;
    }
    background-color: #004d4d;
    .close span {
      background-color: $default-light-color;
    }
    .dark-mode-eye {
      border: #004444 solid;
    }
  }
  .recommend,
  .slider,
  .bestSeller,
  .brands,
  .special-products,
  .blog {
    background-color: #1c1c1c;
    h1 {
      color: $default-light-color;
    }
  }
  .product {
    .product-name-price-brand,
    .product-info {
      color: $default-light-color;
      background-color: #1c1c1c;
    }
    .product-name,
    .product-quantity {
      color: $default-light-color;
    }
    .product-name:hover {
      color: #ed0f0f;
    }
    .link-section {
      img {
        background-color: #1c1c1c;
      }
      img:hover {
        background-color: #ed0f0f;
      }
    }
  }
  .footer {
    span {
      color: $default-light-color;
    }
    background-color: #131a22;
    .navLink {
      color: $default-light-color;
    }
  }
  .about-us,
  .blog-page {
    color: $default-light-color;
  }
  .cart {
    p {
      color: $default-light-color;
    }
    .cart-buy {
      color: $default-light-color;
    }
    label {
      color: $default-light-color;
    }
    label:hover {
      color: #ed0f0f;
    }
    .navLink {
      color: #ed0f0f;
    }
  }
  .product-details,
  .sort {
    background-color: #1c1c1c;
  }
  .product-gender,
  .product-color,
  .review,
  .product-name,
  .no-match,
  .notfound {
    color: $default-light-color;
  }
  .faq {
    background-color: #999999;
    .item {
      background-color: #1c1c1c;
      span {
        color: $default-light-color;
      }
    }
  }
  .thank,
  .wishlist {
    p {
      color: $default-light-color;
    }
  }
}
.hidden {
  display: none !important;
}
